@import 'global.css';

body{
    background: var(--background);
}

main{
    margin: 100px 300px;
}

h1{
    margin-top: 3rem;
    color: var(--primary);
}

h1, h2{
    margin-bottom: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.btn-primary{
    background-color: var(--accent);
    border: none;
}

.btn-primary:hover{
    background-color: var(--accent-two);
}
